%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th Select
        %th Question Text
        %th Collections
        %th Tags
        %th Remove Problem

      %tbody
        = form_tag update_multiple_tags_path do
          = text_field :tags, :names, placeholder: 'Enter tags, comma-separated'
          = submit_tag 'Add Tags',  class: 'btn btn-primary'

          - problems.each do |problem|
            %tr
            %tr{:id => "q#{problem.id - 1}"}
              %td
                = label :add_tags, :problems, problem.id
                = check_box_tag "problems[]", problem.id

              %td
                = problem.html5.html_safe
                = "Created Date: " + problem.created_date.to_s + " | "
                = "Created By: " + problem.instructor.name
              %td
                - problem.collections.each do |collection|
                  = link_to "#{collection.name} \n", collection_path(:id => collection.id)
              - tags = problem.tags.map {|tags| tags.name + ', '}.join
              %td= tags.slice(0..-3) # remove last comma
              %td= link_to "", remove_problem_path( :id => problem.id, :collection_id => collection), {:id => "problem_#{problem.id}", :class => 'glyphicon glyphicon-trash'}
