= form_tag update_multiple_tags_path, id: "update_multiple_tags_#{collection.id}" do
  = text_field_tag :tag_names, nil, id: "multiple_tag_names_#{collection.id}", placeholder: 'Enter tags, comma-separated'
  = submit_tag 'Add Tags',  class: 'btn btn-primary'

%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th Select
        %th Question Text
        %th Collections
        %th Tags
        %th Remove Problem

      %tbody
      

        - problems.each do |problem|
          %tr
          %tr{:id => "q#{problem.id - 1}"}
            %td
              = check_box_tag "checked_problems[#{problem.id}]", 1, false, id: "checked_problems_#{problem.id}", form: "update_multiple_tags_#{collection.id}"
              = label_tag "checked_problems_#{problem.id}", problem.id

            %td
              = problem.html5.html_safe
              = "Created Date: " + problem.created_date.to_s + " | "
              = "Created By: " + problem.instructor.name
            %td
              - problem.collections.each do |collection|
                = link_to "#{collection.name} \n", collection_path(:id => collection.id)
            
            %td
              %div{:id => "all_tags_#{problem.id}"}
                = render :partial => "problems/tags", locals: { problem: problem }
              %br
              %br
              = form_tag add_tags_path(id: problem.id) do
                = text_field_tag :tag_names, nil, id: "add_tags_#{problem.id}", class: 'form-control', placeholder: 'Add new tags'

            %td= link_to "", remove_problem_path( :id => problem.id, :collection_id => collection), {:id => "problem_#{problem.id}", :class => 'glyphicon glyphicon-trash'}
