%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th Question Text
        %th Collections
        %th Tags
        %th Remove from collection
      %tbody
        - problems.each do |problem|
          %tr
            %td
              = problem.html5.html_safe
              = "Created Date: " + problem.created_date.to_s + " | "
              = "Created By: " + problem.instructor.name
            %td
              - problem.collections.each do |collection|
                = link_to "#{collection.name.truncate(20)} \n", collection_path(:id => collection.id)
            %td= problem.tags.map {|tags| tags.name + ', '}.join
            %td= link_to "remove from this collection", remove_problem_path( :id => problem.id, :collection_id => collection), {:id => "problem_#{problem.id}"}
