<<<<<<< HEAD
%h3= "Your collection: #{@collection.name}"
=render :partial=> 'form', locals: {collection: @collection}
%p.collectioncontrols
  =link_to "Delete Collection", collection_path(@collection), :class => 'btn btn-danger', method: :delete, :confirm => 'Delete this collection?'
%p.collectioncontrols
  =link_to "Export Collection", export_path(:id => @collection), :class => 'btn btn-info'

= render :partial => "shared/problems_table", locals: {problems_index: false, collection: @collection, problems: @collection.problems}
=======
%h3= "Your collection #{@collection.name}"
=render :partial=> 'form', locals: {collection: @collection, remote: false}
%p 
  Delete this collection? 
  =link_to 'trash_can_icon', collection_path(@collection), method: :delete, :confirm => 'Delete this collection?'
%p 
  Export this collection: 
  =link_to 'export button', export_path(:id => @collection) 
= render :partial => "shared/problems_table", locals: {problems_index: false, collection: @collection, problems: @collection.problems}
>>>>>>> d0ea43498e3f0a2e8de3fcb02232d15b7b51459a
