
%div.section_title
  - name = ["", "Public", "Share", "Private"]
  - level = @collection.access_level
  %h3 #{name[level]} Collection #{@collection.name}
  %h4= @collection.description
  - if @collection.is_public
    %h5= @collection.instructor.name

%div.section_options
  - if can? :manage, @collection
    = link_to "Edit this collection", edit_collection_path(:id => @collection.id), :class => 'btn btn-primary'

  = link_to export_path(:id => @collection.id), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-export
    Export

%div.section_body
  = render :partial => 'problems/problem_table', :locals => {:problems => @problems, :columns => [:checkbox, :problem, :tags], :group_id => @collection.id, :empty_msg => 'This collection is empty'}
  = will_paginate @problems
