
%div.section_title
  - name = ["", "Public", "Share", "Private"]
  - level = @collection.access_level
  %h3 #{name[level]} Collection #{@collection.name}
  %h4= @collection.description
  - if @collection.is_public
    %h5= @collection.instructor.name

%div.section_options
  - if can? :manage, @collection
    = link_to "Edit this collection", edit_collection_path(:id => @collection.id), :class => 'btn btn-primary'

  = link_to export_path(:id => @collection.id), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-export
    Export

%div.section_body
  / - if can? :manage, @collection
  = render :partial => 'problems/problem_table',
            :locals => {:problems => @collection.problems, :columns => [:checkbox, :problem, :tags],
                        :group_id => @collection.id, :empty_msg => 'This collection is empty'}
  / - else
  /   = render :partial => 'problems/student_problem_table',
  /             :locals => {:problems => @collection.problems, :columns => [:checkbox, :problem, :tags],
  /                         :group_id => @collection.id, :empty_msg => 'This collection is empty'}
