%div.collection-buttons
  Your Collections:
  - Collection.accessible_by(current_ability, :manage).each do |collection|
    = form_tag problem_path(:id => problem.id), :method => :put do
      - selected = collection.problems.include? problem
      = hidden_field_tag :collection, collection.id, :id => nil
      = submit_tag collection.name.truncate(35), :id => "toggle_collection_#{collection.id}_#{problem.id}", :class => "collection-button btn #{selected ? 'btn-info' : 'btn-default'}", :title => collection.name, :style => "display :#{selected ? 'block' : 'none'}"
