
= form_tag problems_path, :method => :get, :id => "filter_form" do
  %div.form-group
    = label_tag(:search, "Search Keywords:")
    = text_field_tag(:search, params[:search], class: 'form-control', placeholder: "Search")
  
  %div.form-group
    = label_tag(:tags, "Tags:")
    = text_field_tag(:tags, params[:tags], class: 'form-control', placeholder: "e.g.: tag 1,tag 2")

  
  = label_tag(:tags, "Collections:")
  - @collections.each do |collection|
    %div.checkbox
      %label
        = check_box_tag "collections[#{collection.name}]", 1, true, class: "checkbox"
        = collection.name

  %div.form-group
    = label_tag(:last_exported, "Last Exported:")
    = text_field_tag(:last_exported_begin, params[:last_exported_begin], class: 'form-control', placeholder: "dd/mm/yyyy")
    = text_field_tag(:last_exported_end, params[:last_exported_end], class: 'form-control', placeholder: "dd/mm/yyyy")
  
  %div.form-group
    = submit_tag 'Apply', :id => "filter_submit", :class => 'btn btn-info'
