=form_tag checked_problems_path do
  =select_tag 'dropdown', options_from_collection_for_select(Collection.where(instructor_id: @current_user), "id","name")
  =submit_tag 'Add problems to the collection', class: 'btn'
  %div.col-md-10
    %div.table-responsive
      %table.table.table-striped#problems
        %thead
          %tr
          %th Question Text
          %th Collections
          %th Tags
          %th
        %tbody
          - problems.each do |problem|
            %tr
              %td= check_box_tag "problems[#{problem.id}]", 1
              %td
                = problem.html5.html_safe
                = "Created Date: " + problem.created_date.to_s + " | "
                = "Created By: " + problem.instructor.name
              %td
                - problem.collections.each do |collection|
                  = link_to "#{collection.name.truncate(20)} \n", collection_path(:id => collection.id)
              %td= problem.tags.map {|tags| tags.name + ', '}.join