// =form_tag checked_problems_path, class: 'form-inline' do
//   %div.form-group
// =select_tag 'dropdown', options_from_collection_for_select(Collection.where(instructor_id: @current_user), "id","name"), class: 'form-control'
// =submit_tag 'Add problems to the collection',  name: 'add_problems',  class: 'btn btn-default'
// =submit_tag 'Delete problems', class: 'btn btn-default'

- if problems.empty?
  %h3 No questions matched your search criteria

- else
  %div{:class => "maintable"}
    %div.table-responsive
      %table.table.table-striped#problems
        %thead
          %tr
          %th Question Text
          %th Collections
          %th Tags
          %th
        %tbody
          - problems.each do |problem|
            %tr{:id => "q#{problem.id - 1}"}
              // %td= check_box_tag "checked_problems[#{problem.id}]", 1
              %td
                %li.glyphicon.glyphicon-chevron-right{:class => 'icon', :id => "#{problem.id - 1}"}
                = problem.html5.html_safe
                %div{:class => "additional"}
                  = "Created Date: " + problem.created_date.to_s + " | "
                  = "Created By: " + problem.instructor.name
              %td
                - problem.collections.each do |collection|
                  %p{:class => "colname"}
                    = link_to "#{collection.name} \n", collection_path(:id => collection.id), :style => "color: " + collection.color.to_s
              
              %td
                %div{:id => "all_tags_#{problem.id}"}
                  = render :partial => "tags", locals: { problem: problem }
                %br
                
                = form_tag add_tags_path(id: problem.id) do
                  = text_field_tag :tag_names, nil, id: "add_tags_#{problem.id}", class: 'form-control', placeholder: 'Add new tags'
