=form_tag checked_problems_path, class: 'form-inline' do
  %div.form-group
    =select_tag 'dropdown', options_from_collection_for_select(Collection.where(instructor_id: @current_user), "id","name"), class: 'form-control'
    =submit_tag 'Add problems to the collection', class: 'btn btn-primary'
  
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th
        %th Question Text
        %th Collections
        %th Tags
        %th
      %tbody
        - problems.each do |problem|
          %tr
            %td= check_box_tag "problems[#{problem.id}]", 1
            %td
              %li.glyphicon.glyphicon-chevron-right{:class => 'icon', :id => "#{problem.id - 1}"}
              %div{:id => "q#{problem.id - 1}"}
                = problem.html5.html_safe
                %div{:class => "additional"}
                  = "Created Date: " + problem.created_date.to_s + " | "
                  = "Created By: " + problem.instructor.name

            %td
              - problem.collections.each do |collection|
                = link_to "#{collection.name.truncate(20)} \n", collection_path(:id => collection.id)
            %td{:id => "#{problem.id}_tag"}
              = text_field_tag(:tag, "", class: 'form-control', id: "add_tags_#{problem.id}", placeholder: "Add tags")
              %div{:id => "all_tags_#{problem.id}"}
                = render :partial => "tags", locals: { tags: problem.tags}
              