- if problems.empty?
  %h3 No questions matched your search criteria

- else
  %div{:class => "maintable"}
    %div
      %table.table.table-striped#problems
        %thead
          %tr
          %th Question Text
          %th Collections
          %th Tags
          %th
        %tbody
          - problems.each do |problem|
            %tr{:id => "q#{problem.id}", :class => 'problem_row'}
              %td
                %li.glyphicon.glyphicon-chevron-right{:class => 'icon', :id => "#{problem.id}"}
                = problem.html5.html_safe
                %div{:class => "additional"}
                  = "Created Date: " + problem.created_date.to_s + " | "
                  = "Created By: " + problem.instructor.name
                  %br
                  %div
                    %button{"data-clipboard-target" => "source_#{problem.id}", "data-clipboard-text" => "", :title => "", :id => "copy_source_button_#{problem.id}", :class => "d_clip_button"}
                      %b Clip Source Code
                    %textarea{:id => "source_#{problem.id}", :value => problem.ruql_source, :style => "display: none"}= problem.ruql_source
                    = link_to "Supersede", supersede_path(:id => problem.id), :id => "supersede_button_#{problem.id}", :class => "supersede_button"
                    %div{:class => "supersede_form", :style => "display: none"}
                      = render :partial => "supersede_form", :locals => {:problem => problem}

              %td
                - problem.collections.each do |collection|
                  %p{:class => "colname"}
                    = link_to "#{collection.name} \n", collection_path(:id => collection.id), :style => "color: " + collection.color.to_s

              %td
                %div{:id => "all_tags_#{problem.id}", :class => 'tag_list'}
                  = render :partial => "tags", locals: { problem: problem }
                %br

                = form_tag add_tags_path(id: problem.id), class: 'add_tags_form' do
                  = text_field_tag :tag_names, nil, id: "add_tags_#{problem.id}", class: 'form-control', placeholder: 'Add tags'
