
= form_tag problems_path, :method => :post do
  = text_area_tag 'ruql_source', @ruql_source || problem.ruql_source, :class => 'source_field form-control', :id => "source_#{problem.id}", :rows => 15
  = hidden_field_tag 'previous_version', problem.id, :id => nil
  %br
  %p.message
  = submit_tag 'Supersede question', :class => 'btn btn-primary'
