%div.col-md-2#sidebar-filter
  = render "filter"
%div.col-md-10#problems_view
  %div.container-fluid
    = render :partial => "problems_table", locals: { problems: @problems}
  %div.container-fluid
    %div.col-md-6
      %p
        = link_to 'View 5', problems_path(:per_page => 5)
        = link_to 'View 30', problems_path(:per_page => 30)
        = link_to 'View 60', problems_path(:per_page => 60)
    %div.col-md-6
      = will_paginate @problems
