-#  This file is app/views/movies/index.html.haml
%h1 Questions
= form_tag problems_path, :method => :get, :id => "tags_form" do
  = label_tag(:tags, "Tags")
  = text_field_tag(:tags)
  = submit_tag 'Apply', :id => "filter_submit"

- @problems.each do |p|
  - p.tags.each do |t|
    = t.name
    %br

