
%div#filter-sidebar
  = render :partial => 'filter'
  

%div#filter-content.container-fluid
  - if @problems.empty?
    %h3 No questions matched your search criteria

  - else
    = form_tag update_multiple_tags_path, :id => 'update_multiple_tags', :class => 'check_form' do
      = text_field_tag :tag_names, nil, :id => 'multiple_tag_names', :class => 'form-control', :placeholder => 'tag 1, tag 2'
      = submit_tag 'Tag checked problems',  :class => 'btn btn-primary'
      
    %div.table-responsive.problem_table
      %table.table.table-striped
        %thead
          %tr
            %th= check_box_tag nil, 1, false, :id => 'check_all_1', :class => 'checkbox check_all', :style => 'display: none'
            %th Question Text
            %th Tags
        
        %tbody
          - @problems.select{|p| can? :read, p}.each do |problem|
            %tr
              = render :partial => 'problem_row', :locals => {:problem => problem, :check_box_form => 'update_multiple_tags', :check_group => 1}
  
    %div.row#page_options
      %div.col-xs-6
        - [5, 30, 60].each do |n|
          = link_to "View #{n}", problems_path(:per_page => n)
      %div.col-xs-6
        = will_paginate @problems
