-#  This file is app/views/movies/index.html.haml

%div.col-md-2#sidebar-filter
  = render "filter"

%div.col-md-10
  %div.table-responsive
    %table.table-hover
      %thead
        %tr/
        %th Question Type
        %th Question Text
        %th Date Created
        %th Expand
      %tbody
        - @problems.each do |problem|
          %tr
            %td= 'temporary'
            %td= problem.html5.html_safe
            %td= problem.created_date
            %td= problem.tags
