-# in app/views/show.html.haml

%h2 Dashboard #{@current_user.name}

-if @collections.empty?
  %h3 You have no collections! Start one now.
  =link_to 'start a new collection', new_collection_path, :class => 'btn btn-info', :id=> 'add_collection'
  =link_to 'upload new questions', upload_path, :class => 'btn btn-primary', :id=> 'upload_questions'

-else

  =link_to 'start a new collection', new_collection_path, :class => 'btn btn-info', :id=> 'add_collection'
  =link_to 'upload new questions', upload_path, :class => 'btn btn-primary', :id=> 'upload_questions'

%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#collections
      %thead
        %tr
        %th Name
        %th No. of Questions
        %th Description
        %th Last Used
        %th Privacy
        %th Mark as current
      %tbody
        - @collections.each do |collection|
          %tr
          %td= link_to collection.name.truncate(35), edit_collection_path(:id => collection.id)
          %td= collection.problems.length
          %td= collection.description
          %td= collection.last_used
          %td= collection.is_public ? 'Public' : 'Private'
          %td
            -if @current_user.current_collection == collection.id 
              =link_to 'should be gold star', mark_as_current_path(:id => collection.id) 
            -else 
              =link_to 'should be grey star', mark_as_current_path(:id => collection.id)