-# in app/views/show.html.haml
%div.col-md-12
  %div.table-responsive
    %h2 #{@current_user.name}'s Dashboard

    -if @collections.empty?
      %h3 You have no collections! Start one now.
      =link_to 'start a new collection', new_collection_path, :class => 'btn btn-info', :id=> 'add_collection'
      =link_to 'upload new questions', upload_path, :class => 'btn btn-primary', :id=> 'upload_questions'

    -else

      =link_to 'start a new collection', new_collection_path, :class => 'btn btn-info', :id=> 'add_collection'
      =link_to 'upload new questions', upload_path, :class => 'btn btn-primary', :id=> 'upload_questions'

%div.col-md-12
  %div.table-responsive
    %table.table.table-striped#collections
      %thead
        %tr
        %th 
        %th Name
        %th # Questions
        %th Description
        %th Last Used
        %th Privacy
      
      %tbody
        - @collections.each do |collection|
          %tr
          %td
            -if @current_user.current_collection == collection.id 
              =link_to image_tag('yellowstar.png', width: 30), mark_as_current_path(:id => collection.id) 
            -else 
              =link_to image_tag('graystar.png', width: 30), mark_as_current_path(:id => collection.id)
          %td= link_to collection.name.truncate(35), edit_collection_path(:id => collection.id)
          %td= collection.problems.length
          %td= collection.description
          %td= collection.last_used
          %td= collection.is_public ? 'Public' : 'Private'
        
