%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th Question Text
        %th Date Created
        %th Collections
        %th Tags
        %th Created By
        %th
          -if problems_index
            Add to:
          -else 
            Remove from collection
      %tbody
        - @problems.each do |problem|
          %tr
            %td= problem.html5.html_safe
            %td= problem.created_date
            - collstring = ""
            -problem.collections.each do |coll| 
              -collstring << coll.name + " "
            %td= collstring
            - collstring = ""
            -problem.tags.each {|tag| collstring << tag.name + " " }
            %td= collstring
            %td= problem.instructor.name
            %td
              -if problems_index
                / =link_to "add to #{@current_user.current_collection.name} (current)", add_problem_path(:id => problem.id, :collection_id => @current_user.current_collection.id), {:id => "problem_#{problem.id}"}
              -else 
                =link_to "remove from this collection", remove_problem_path( :id => problem.id, :collection_id => @collection), {:id => "problem_#{problem.id}"}

              