%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
        %th Question Text
        %th Collections
        %th Tags
        %th
          -if problems_index
            Add to:
          -else 
            Remove from collection
      %tbody
        - problems.each do |problem|
          %tr{:id => "q#{problem.id - 1}"}
            %td
              %div{:id => "q#{problem.id - 1}"}
                = problem.html5.html_safe
                = "Created Date: " + problem.created_date.to_s + " | "
                = "Created By: " + problem.instructor.name
            %td
              - problem.collections.each do |collection|
                = link_to "#{collection.name} \n", collection_path(:id => collection.id)
            %td= problem.tags.map {|tags| tags.name + ', '}.join
            %td
              -if problems_index
                %a{:class => "addlink", :id => "problem#{problem.id}", :onclick => "myfunction('#{problem.id}', #{@current_user.current_collection}); return false"} current collection
                / =link_to_function "YOLO", "myfunction('#{problem.id}', #{@current_user.current_collection}); return false"
                = select_tag "dropdown", options_from_collection_for_select(Collection.where(instructor_id: @current_user), "id","name"), :onchange => "myfunction(#{problem.id}, this.value)",:include_blank => true
              -else 
                =link_to "remove from this collection", remove_problem_path( :id => problem.id, :collection_id => collection), {:id => "problem_#{problem.id}"}
