
%link{:href => 'http://fonts.googleapis.com/css?family=Patrick+Hand|Delius|Handlee', :rel => 'stylesheet', :type => 'text/css'}

%html
  %head
    %title Course Question Bank
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      .title 
        %h1= link_to 'Course Question Bank', problems_path
        #user
          - if @current_user
            - if @current_user.name and !@current_user.name.empty?
              %p.welcome  Welcome, #{@current_user.name}!
            - else
              %p.welcome  Welcome, #{@current_user.provider} user!
            = link_to 'Go to my dashboard', profile_path, method: :get
            = link_to 'Log Out', logout_path, method: :post
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      

      = yield
