
/ <<<<<<< HEAD
%link{:href => '//fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,800,700', :rel => 'stylesheet', :type => 'text/css'}
/ =======
/ %link{:href => '//fonts.googleapis.com/css?family=Oswald|Raleway|Yanone+Kaffeesatz|Abril+Fatface|Architects+Daughter', :rel => 'stylesheet', :type => 'text/css'}
/ >>>>>>> 6de216208fcd8b00d2b084f3442497ee2ad11fcc

%html
  %head
    %title Course Question Bank
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #header
      .title
        %h1
          =link_to 'Course Question Bank', problems_path
    #main
      .welcome
        - if @current_user
          -if @current_user.name and !@current_user.name.empty?
            %ul#navbar
              %li#navbar= link_to " Log Out", logout_path, method: :post
              -if can? :manage, Instructor
                %li#navbar= link_to 'Admin', admin_path, method: :get
              %li#navbar= link_to 'My Collections', profile_path, method: :get
              %li#navbar= link_to 'Home', problems_path
              %li#navbar Welcome, #{@current_user.name}!
          - else
            %ul#navbar
              %li#navbar= link_to " Log Out", logout_path, method: :post
              %li#navbar= link_to 'My Dashboard', profile_path, method: :get
              %li#navbar Welcome, #{@current_user.provider} user!
              %li#navbar= link_to 'Home', problems_path
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:error]
        #error.message= flash[:error]


      = yield
